{% extends 'allauth/account/email/base.html' %}

{% block title %}Reset your password at <strong>DjangoKatya</strong>{% endblock title %}

{% block main_title %}Reset your password at <strong>DjangoKatya</strong>{% endblock main_title %}
{% block main %}{% load account %}{% user_display user as user_display %}{% load i18n %}
    {% autoescape off %}
        <p>You're receiving this e-mail because you or someone else has requested a password for your user account.</p>
        <p>It can be safely ignored if you did not request a password reset. Click the button below to reset your
            password.</p>

        <p class="p-button1-wrapper"><a class="btn btn-lg button1"
                                        href="{{ password_reset_url }}">Reset password</a></p>
        <p class="small-txt">or click the <a href="{{ password_reset_url }}">link</a></p>

        {% if username %}<p>In case you forgot, your username is {{ username }}.</p>{% endif %}
    {% endautoescape %}
{% endblock main %}

{% block additional_below %}{% endblock additional_below %}