/* blocks */
body {
    font-size: 1.4em;
}

div.menu-div {
    display: flex;
}

.lingo {
    background-color: #dbeae3;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.body-wrap {
    background-color: #fbfffd;
    border: 2px solid #dbeae3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.body-wrap-window {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.body-title {
    margin: 1em;
    font-size: 1.5em;
    text-align: center;
}

.team-div {
    display: inline-grid;
}

.lead {
    margin: 0;
}

div.container {
    max-width: 700px;
}

/* elements */

a {
    color: #4b7b5c;
}

a:hover {
    font-style: normal;
    color: #407b70;
}

a:visited {
    color: #407b70;
}

ul.menu-list {
    list-style: none;
    margin: 0 auto;
    display: inline-flex;
    padding: 0;
}

li {
    font-size: 1.2em;
    color: #407b70;
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-wrap {
    text-align: center;
}

.img-logo {
    height: 50px;
}

.user-name {
    font-weight: 700
}

.small-txt {
    font-size: 1.0em;
    text-align: center;
}

.button1:hover {
    background-color: #80bc84;
    font-size: 1.4em;
    color: white;
    border: 1px solid #80bc84;
}

.button1 {
    background-color: white;
    font-size: 1.4em;
    color: #a6f3ab;
    border: 1px solid #80bc84;
}

.p-button1-wrapper {
    text-align: center;
}